* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


main {
    background-color: aliceblue;
    display: grid;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
}

.quote-sect {
    background-image: url(/Users/sflores/Desktop/Bookly/assets/images/jessica-ruscello-OQSCtabGkSY-unsplash.jpg);
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: center;
    background-size: 100% 100%;
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin-top: 20%;
    margin-bottom: 20%;
}

/* .quote {
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin-top: 20%;
    margin-bottom: 20%;
} */
.quote-text {
    font-size: 35px;
    color: aliceblue;
}

.btn-btn{
    position: relative;
    bottom: -6px;
    border-radius: 5px;
    color: white;
    border: none;
}

#logo-wrapper {
    position: absolute;
}

.brand-logo {
    font-family: 'Edu NSW ACT Foundation', cursive;
}

/* #nav-mobile{
} */

.nav-tabs {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 20px;
    color: teal;
}

#input {
    width: 100px;
}

#input2 {
    width: 100px;
}

.nav-books {
    display: flex;
    justify-content: center;

    /* border: 2px solid red; */

    /* border: 2px solid red; */

    align-items: center;
}

h2 {

    color: teal;
    font-size: 20px;
}

#subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 15%;
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin-bottom: 15%;
}

.statement {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 5%;
}



.contact-list {
    margin: 10% 0 15% 0;
}



.contact-text {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5%;
    margin-top: 5%;
}

#output,
#output2{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
}

@media only screen and (max-width: 700px) {
    .navbar-fixed {
        width: 100%;
        flex-direction: column;
    }
}